.profile-circle {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(182,182,182);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color:white;
  margin-top: -320px;
  overflow: hidden;
}

.profile-picture{
  max-width: 200px;
  height: auto;
}

.banner {
  height: 200px;
  background-color: rgb(182,182,182);
  margin-top: 100px;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 3em;
  margin-right: 3em;
  flex-wrap: wrap;
  padding-bottom: 4em;
  margin-top: -1em;
}

.box {
  width: 350px;
  background-color: white;
  border-style: solid;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  text-align: center;
  margin-top: 3em;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.aboutme-box{
  border-color: #79A1A4;
}

.aboutme-box :first-child{
  color: #79A1A4;
}

.aboutme-box :last-child{
  margin-left: 1em;
  margin-right: 1em;
}

.education-box{
  border-color: #80CED7;
}

.education-box :first-child{
  color: #80CED7;
}

.education-box :last-child{
  margin-left: 1em;
  margin-right: 1em;
}

.background-box {
  border-color: #63C7B2;
}

.background-box :first-child{
  color: #63C7B2;
}

.background-box :last-child{
  margin-left: 1em;
  margin-right: 1em;
}
