/*-------------------------- Styling for the Header --------------------------*/

#nav-header {
  display: flex;
  height: 5em;
  justify-content: flex-end;
  align-items: center;
}

#normal-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  margin-left: 1em;
  position: relative;
  z-index: 30;
}

#normal-nav a:last-child {
  margin-right: 1em;
}

#normal-nav :not(:last-child) {
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: rgb(182,182,182);
}

div .nav {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.logo {
  margin-right: auto;
}

h3 {
  color: rgb(182,182,182);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

#drop {
  display: none;
}

#hiddable-nav {
  display: none;
}

@media screen and (max-width: 540px) {
  #normal-nav {
    display: none;
  }

  #hiddable-nav{
    display: block;
    background-color:white;
    margin-top: 5em;
    width: 100vw;
    text-align: center;
    padding-bottom: 1em;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 5px;
    position: relative;
    z-index: 2;

  }

  #nav {
    margin-top: 1rem;
  }

  #drop {
    display: inline;
    margin-top:0;
    margin-right: 1.5em;
  }

  #undrop {
    transform: rotate(180deg);
  }

  #drop-icon {
    width: 80%
  }

  button {
    background-color: white;
    border: none;
    cursor: pointer;
  }
}
